body {
  overflow: hidden;
  border: none;
  margin: 0;
  padding: 0;
}
canvas{
  image-rendering: pixelated;
  border: none;
}
#round_info{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
#start_btn {
  top: 65%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 60px;
  color: #ffffff;
  background-color: #0059ff;
  border: none;
  width: 300px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  cursor: pointer;
}

